/* title COLORS 212121*/
/* text COLORS 757575*/
/* accent COLORS 2196F3*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color-main: #2f303a;
  --background-color-secondary: #f5f4fa;
}
body {
  
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-head {
  color: var(--title-text-color);
}
/* Site Nav */
.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  }
.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-nav a:hover,
.contacts-nav a:focus {
  color: var(--accent-color);
}

/* Герой */
.section-hero {
  background-color: var(--background-color-main);
}
.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  color: #ffffff;
  background-color: var(--accent-color);
}
.button:hover {
  background-color: #188ce8;
}

/* Особенности */
.features-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 1.17;
  line-height: 42px;
}

/* Наша команда */

.team-member {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.occupation {
font-size: 16px;
 line-height: 1.19;
}

/* Футер */

.footer {
  background-color: var(--background-color-main);
}
.logo-footer {
  color: #ffffff;
}
.address {
  color: #ffffff;
  font-size: 14px;
line-height: 1.71;
}
.contacts-footer a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
line-height: 1.71;
}

/* -----------Портфолио------------- */

.filter button {
  color: var(--title-text-color);
  background-color: var(--background-color-secondary);
  
font-weight: 500;
font-size: 16px;
line-height: 1.62;
}
.filter button:hover,
.filter button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}
.works-title {
  color: var(--title-text-color);
 font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.works-type {
 
font-size: 16px;
line-height: 1.87;
}
